# -*- mode: yaml -*-
PointerAlignment: Left
BreakBeforeBinaryOperators: NonAssignment
IndentWidth: 4
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
BreakBeforeBraces: Custom
AllowShortFunctionsOnASingleLine: Empty
BraceWrapping:
  BeforeElse: true
